* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --first-color: #09090b;
  --second-color: #43ff64d9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-color);
  color: var(--first-color);
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--white-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--first-color);
}

.nav-menu {
  margin-left: auto;
  margin-right: 2rem;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}

.nav-menu ul li a {
  text-decoration: none;
  color: var(--first-color);
  transition: 0.3s;
}

.nav-menu ul li a:hover {
  color: var(--second-color);
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-toggle {
  display: none;
  margin-right: 1rem;
}

.nav-button {
  background: var(--second-color);
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.375rem 1rem;
  border-radius: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}

.description-section {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 600px; */
  grid-template-rows: 80% 15%;
  grid-template-areas: 'description img' 'scroll scroll';
  align-content: flex-end;
  justify-content: center;
  /* column-gap: 4rem; */
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.description-box {
  grid-area: description;
  align-self: center;
  text-align: initial;
  max-width: 540px;
}

.description-title {
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.description-paragraph {
  font-size: 1.1rem;
  margin-left: 0.4rem;
  padding: 0 5rem 0 0;
}

.description-img {
  grid-area: img;
  align-self: center;
}

.description-img img {
  max-width: 420px;
  height: auto;
}

.scroll-container {
  grid-area: scroll;
  text-align: center;
  align-self: center;
}

.scroll-text {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.scroll-icon {
  width: 32px;
}

.specifications-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 8rem 0;
  scroll-margin-top: 8rem;
}

.specification-title {
  font-size: 3rem;
  font-weight: 600;
  margin: 0 auto;
}

.main-specifications {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
}

.details-box {
  text-align: center;
}

.details-initial {
  font-size: 0.94rem;
}

.details-title {
  font-size: 3rem;
  font-weight: 400;
}

.details-title span {
  font-size: 2.5rem;
}

.details-description {
  font-size: 1rem;
}

.secondary-specifications {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.secondary-specifications-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.secondary-specifications-list {
  list-style-type: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ANIMATION */
.headphones {
  animation: headphones 2.5s infinite;
}

@keyframes headphones {
  50% {
    transform: translateY(-5%);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .container {
    margin: 0 1rem;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 3rem 0 0;
  }

  .description-title {
    font-size: 5rem;
    text-align: center;
  }

  .description-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3rem;
  }

  .description-paragraph {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;
  }

  .description-img img {
    max-width: 280px;
    height: auto;
  }

  .specifications-section {
    margin-top: 12rem;
  }

  .specification-title {
    font-size: 2.4rem;
  }

  .details-title {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .nav-container {
    height: 3rem;
  }

  .nav-toggle {
    display: inline;
    cursor: pointer;
  }

  .nav-menu {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .nav-menu ul {
    display: none;
  }

  .show .nav-menu {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 3rem;
    left: 0;
    background: var(--white-color);
    width: 100vw;
    height: 20%;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  #nav.show .nav-menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .description-section {
    height: calc(100vh + 3rem);
    row-gap: 1.5rem;
  }

  .description-box {
    grid-area: description;
    text-align: center;
    padding-top: 3rem;
  }

  .description-title {
    font-size: 3.5rem;
  }

  .description-paragraph {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .specifications-section {
    margin-top: 5rem;
    justify-content: normal;
  }

  .specification-title {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0 auto;
  }

  .details-box {
    margin-bottom: 2.5rem;
  }

  .details-title {
    font-size: 2rem;
  }

  .details-title span {
    font-size: 1.6rem;
  }

  .details-description {
    font-size: 1rem;
  }

  .secondary-specifications {
    gap: 4rem;
    padding: 0 2rem 5rem 2rem;
  }
}

@media (max-width: 640px) {
  .main-specifications {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

  .secondary-specifications {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0 1.2rem 4rem 1.2rem;
  }
}

@media (max-width: 440px) {
  .scroll-container {
    margin-top: 3rem;
  }
}
